{% include "components/header.html" %}

<h1>Добавление Проекта</h1>
<br>

  <form id="data" method="post">
  {% csrf_token %}
              <div class="mb-3">
                  <select  id="project_category" name="project_category" class="form-select" aria-label="Default select example" required>
                  <option value="">Категория проекта</option>
                  {% for category in exists_category %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
      <p><input class="form-control" placeholder="Имя проекта" name="project_name" form="data"></p>
      <p><input class="form-control" placeholder="КЭ" name="CI" form="data"></p>
      <p><input class="form-control" placeholder="Подсистема" name="SubSystem" form="data"></p>
      <p><input class="form-control" placeholder="ЧПимя" name="FP_name" form="data"></p>
      <p><input class="form-control" placeholder="Краткое описание" name="description" form="data"></p>
      <p><input type="submit" value="Отправить форму" form="data"></p>
</form>
{% include "components/footer.html" %}
